*{
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#af67e9,#6565e7);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.box{
    position: relative;
    width: 750px;
    background: #fff;
    border-radius: 20px;
    padding: 20px;
}
.box h4{
    color: #555;
    margin-bottom: 10px;
    font-size: 2rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.box textarea {
    position: relative;
    width: 80% !important;
    height: 250px;
    resize: none;
    border: 1px solid rgb(0, 0, 0, 0.2);
    border-radius: 20px;
    outline: none;
    padding: 10px;
    font-size: 1.5rem;
    color: #555;
}

.box p {
    position: absolute;
    right: 32px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 2rem;
    color: #555;
}

.box p span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    color: #fff;
    transition: all .5s;
    background-color: #6565e7;
}

.box p span.blink{
    box-shadow: 0px 0px 6px #6565e7,
                0px 0px 12px #6565e7,
                0px 0px 18px #6565e7,
                0px 0px 24px #6565e7
}

@media (max-width: 768px)
{
    .box 
    {
        width: 300px;
    }
    .box h4 
    {
        font-size: 1.5rem;
    }
    .box textarea
    {
        width: 100% !important;
    }
    .box p {
        position: relative;
        top: 0;
        right: 0;
        transform: translateY(0);
        margin-bottom: 10px;
    }
}